<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />

</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio.</a>
        <nav class="navbar">
              <a href="/" class="active">Home</a>
              <a href="/about">About</a>
              <a href="/project">Projects</a>
              <a href="/services">Services</a>
              <a href="/contact">Contact</a>
          </nav>
    </header>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="img/quocPicture.jpg" alt="Your Photo">
                </div>
                <div class="about-col-2"></div>
                <h1 class="sub-title">About Me</h1>
                <p class="sentences">A little think about me. I'm  a student of Centeniial College. I spend the most tim to develop and parctice the code.
                    I haven't have the experiences before but I belive when I join with your team, I will try my best as good as possible.</p>
                <!-- Add a link to your resume -->
           
            </div>
        </div>
     
    </section>
</body>
</html>