<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio.</a>
        <nav class="navbar">
              <a href="/" class="active">Home</a>
              <a href="/about">About</a>
              <a href="/project">Projects</a>
              <a href="/services">Services</a>
              <a href="/contact">Contact</a>
          </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>Hi,I'm Anh Quoc Nguyen</h1>
            <h3>Software Engineering</h3>
            <p>Hello everyone, Welcome to my Page.Firstly, I'm from VietNam and have been Canada about 3 year. Currently I'm study at Centennial College.My journey is Soft-ware Engineering Technology.</p>
            <a href="#"class="btn">Contact me</a>
        </div>
        <div class="home-img">
            <div class="glowing-circle">
                <span></span>
                <span></span>
                <div class="image">
                    <img src="img/Qlogo.png"alt="">
                </div>
            </div>
        </div>
        <!----------------about----------------->
    </section>   
</body>
</html>
