<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio.</a>
        <nav class="navbar">
              <a href="/" class="active">Home</a>
              <a href="/about">About</a>
              <a href="/project">Projects</a>
              <a href="/services">Services</a>
              <a href="/contact">Contact</a>
          </nav>
    </header>
    <section id="projects">
        <h2>Projects</h2>
        <div class="project">
            <img src="img/realES.JPG" alt="Project 2"width="500px" height="70%">
           
            <h3>Project 2</h3>
            <h3>Role: Developer</h3>
            <h3>Outcome: Sale Real Estate</h3>
          </div>
          <div class="project">
            <img src="img/Project1.jpg" alt="Project 1"width="500px" height="70%">
            <h3>Project 1</h3>
            <h3>Role: Developer</h3>
            <h3>Outcome: Form register Eduacation</h3>
          </div>
        <!-- Repeat for other projects -->
      </section>
</body>
</html>